*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #121214;
    --bg-secondary: #202024;
    --bg-tertiary: #1e1e22;

    --text-primary: #F7F7FA;
    --text-secondary: #a8a8b3;
    --text-tertiary: #737380;

    --action-primary: #058C42;
    --action-secondary: #12a54d;

    --ff-title: 'Jersey 10', sans-serif;
    --ff-text: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-primary);
    font: 500 1rem/1 var(--ff-text);
    color: var(--text-primary);
}

.secondary {
    font: 500 .88rem/1 var(--ff-text);
    color: var(--text-secondary);
}

.tertiary {
    font: 500 .75rem/1 var(--ff-text);
    color: var(--text-tertiary);
}


h1.title {
    font: 700 2.5rem/1.5 var(--ff-title);
    color: var(--text-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

button, input {
    all: unset;
}

ul, li{
    list-style: none;
}

.dialog {
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
	position: relative;

    &::before {
        content: '';
        background-color: inherit;
        width: 20px;
        height: 20px;
        left: -0.3rem;
        top: 0.75rem;
        position: absolute;
        transform: rotate(45deg);
    }
}